@import url("https://fonts.googleapis.com/css?family=Abel");
$font-family-base: Abel;
@import url("https://fonts.googleapis.com/css?family=Oswald");
$headings-font-family: Oswald;

$primary: #2f3c48;
$secondary: #6f7f8c;
$success: #3e4d59;
$danger: #cc330d;
$info: #5c8f94;
$warning: #6e9fa5;
$light: #eceeec;
$dark: #1e2b37;

@import "~bootstrap/scss/bootstrap.scss";
@import "~react-bootstrap-typeahead/css/Typeahead.css";

body,
html {
  background: #004b6d;
  color: white;
  height: 100%;
}

table {
  background: white;
  td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.popover-contained {
  cursor: pointer;
}
.mapMaker {
  width: 40px;
  height: 40px;
  background: $danger;
  border-radius: 50%;
  padding: 5px;

  .inner {
    font-size: 16px;
    color: $danger;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
  }
}

.left-col {
  height: auto !important;
}

.right-col {
  height: 50% !important;
}

@include media-breakpoint-up(md) {
  .left-col {
    box-shadow: 0 0 10px #1e2b37;
    z-index: 300;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100% !important;
  }

  .right-col {
    height: 100% !important;
  }
}
